<div class="container mx-auto p-4 text-center w-full h-full flex flex-col justify-center items-center">
  <h1 class="text-4xl font-bold mb-4 text-white">
    FLAMES APP
  </h1>

  <form #flamesForm="ngForm" class="w-full max-w-md">
    <div class="flex flex-col md:flex-row justify-center items-center mb-4">
      <input type="text" placeholder="Enter Name 1" [(ngModel)]="name1" name="name1" required
        class="p-2 border rounded mb-2 md:mb-0 md:mr-2 w-full" style="border-color: var(--color2);">
      <div *ngIf="flamesForm.submitted && !name1" class="text-red-500 mt-2">This field is required</div>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center mb-4">
      <input type="text" placeholder="Enter Name 2" [(ngModel)]="name2" name="name2" required
        class="p-2 border rounded mb-2 md:mb-0 md:mr-2 w-full" style="border-color: var(--color3);">
      <div *ngIf="flamesForm.submitted && !name2" class="text-red-500">This field is required</div>
    </div>

    <button (click)="calculate(); flamesForm.reset()" [disabled]="!flamesForm.valid"
      class="text-white font-bold py-2 px-4 rounded w-full focus:outline-none" [ngStyle]="{
    'background-color': flamesForm.valid ? 'var(--color4)' : 'var(--color2)',
    'cursor': flamesForm.valid ? 'pointer' : 'not-allowed'
  }" (mouseover)="flamesForm.valid && (buttonHover = true)" (mouseout)="buttonHover = false"
      [style.boxShadow]="buttonHover ? '0 4px 6px rgba(0, 0, 0, 0.1)' : 'none'">
      Calculate
    </button>

  </form>
  <div class="mt-4">
    <div class="result-block">
      <h2 class="result-text">
        <span class="result-value">{{result}}</span>
      </h2>
    </div>
  </div>



  <div class="celebration" *ngIf="showCelebration">
    <div *ngFor="let sticker of stickers" [ngStyle]="{
          'background-image': sticker.url,
         'left': sticker.left,
         'animation-duration': sticker.animationDuration
       }" class="sticker">
    </div>
    <audio #audioPlayer preload="none">
      <source [src]="soundUrl" type="audio/mp3">
    </audio>
  </div>


</div>